[mysqld]
character-set-server = utf8mb4
skip-character-set-client-handshake
skip-name-resolve
lower_case_table_names = 1
default-storage-engine = InnoDB
innodb_file_format = Barracuda
innodb_file_per_table = 1

log_error = /var/log/mysql/error.log
general_log_file = /var/log/mysql/general.log
general_log = 0

server-id=1
log-bin=bin.log
log-bin-index=bin-log.index
max_binlog_size=100M
binlog_format=row